.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0 30px;
    background-color: #08083c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    box-shadow: 0 0 10px rgba(18,17, 22,1);
}


header .header-right{
    display: flex;
    align-items: center;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-logo{
    font-size: 30px;
    font-weight: bold;
    color:white;
    
    
    
}
.header-logo img {
    margin-right: auto;
    margin-bottom: auto;
    max-width: 180px; /* Spécifiez la largeur maximale */
    max-height: 100px; /* Spécifiez la hauteur maximale */
    
}
.header-menu{
    display: none;
}
.header-menu i{
    font-style: 40px;
    color: white;
    cursor: pointer;
}

.nav-links{
    display: flex;
    align-items: center;
}
.nav-link{
    list-style-type: none;
    margin: 0 12px;
    cursor: pointer;
    font-size: 21px;
    font-weight: 500;
    color: white;
}
.nav-link:hover{
    color: #d0a530;
   
}
.nav-link i{
    margin-right: 3;
    font-style: 24px;
}

.header-right-link{
    display: flex;
    margin-left: 10px;
    font-size: 20px;
    font-style: 21px;
    font-weight: 500;
    background-color:#d0a530;
    color:white ;
    border-radius: 15px;
    padding: 7px 7px;

}
.header-right-link:hover{
    background-color: var(--main-color);
}


.header-right-user-photo{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    font-size: 22px;
    margin-right: 5px;

}

.header-right-username{
    font-style: 21px;
    font-weight: 500;
    color : var(--main-color);
    margin-right: 10px;
    text-transform: capitalize;
    cursor: pointer;
}
.notification-icon {
    position: relative;
    cursor: pointer;
    margin-left: 7px;
}
.bell-icon {
    font-size: 30px; /* Agrandir la taille de l'icône de la cloche */
    color: #ffffff; /* Changer la couleur de l'icône */
    margin-right: 15px; /* Marge à droite pour l'espace */
}

.notification-dot {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    
}

.notification-dot.active {
    display: block;
}
.header-equipment-list {
    position: fixed;
    top: 100px; 
    right: 0;
    min-width: 350px;
    background-color: #08083c; 
    padding: 20px;
    
    z-index: 98; 
    color: #fff; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 0 0 5px rgb(159, 158, 161);
   
}

.header-equipment-list ul {
    list-style-type: none; 
    padding: 0;
}

.header-equipment-list li {
    margin-bottom: 15px; 
    
}

.header-equipment-list h3 {
    margin-bottom: 30px; 
}

.header-equipment-list li  .header-equipment-info {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.header-equipment-list .header-equipment-name {
    font-weight: bold; 
}

.notification {
    margin-bottom: 10px; 
}


.header-platform-list {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    position: absolute;
    top: 100%; /* Position below the header */
    right: 520px; /* Adjust the positioning */
    width: 200px; /* Adjust the width as needed */
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
}


.platform-item {
    padding: 8px 0; 
    font-size: 16px; 
    color: #666; 
    transition: color 0.3s ease; 
    border-bottom: 1px solid #ddd; 
}

.platform-item:last-child {
    border-bottom: none; 
}

.platform-item:hover {
    color: #007bff; 
}
/*Media Queries*/
@media( max-width: 990px){
    .header-left{
        flex-direction: row-reverse;
        margin-right: 20px;
    }
    .header-menu{
        display: block;
        margin-right: 20px;
    }
    .navbar{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: #08083c;
        transition: all .7s ease-in-out;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        
    }
    .nav-links{
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       padding-left: 30px; 
    }
    .nav-link{
        margin: 0;
        margin-bottom: 15px;
    }
}

@media(max-width: 520px){
    .header{
        padding: 0 10px;
    }
    .header-logo img{
        max-width: 90px; /* Spécifiez la largeur maximale */
        max-height: 50px;
    }
    .header-right-link{
        font-style: 17px;
        padding: 5px 7px;
    }
    .header-menu{
        margin-right: 10px;
    }

}