.options{
  width: 100%;
  height: 400px;
  margin-top: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0px 115px;
  }
  
  .option{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 270px;
    flex:1
  }
  
  .optionImg{
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  
  .optionTitle{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    color: black;
    text-decoration: underline;
  }